body {
  background-color: #272626;
}


main{
  height: 90vh;
  display: flex;
  justify-content: center;
  .leftbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middlebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .middletopbox{
      display: flex;
      align-items: flex-end;
    }
    .middlemiddlebox{

    }
    .middlebottombox{
      display: flex;
      align-items: flex-start;
    }
  }
  .rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}




.title {
  display: none;
  font-size: small;
}  

.card {
  max-width: 300px;
  border-color: #272626;
  &:hover{
    width: 30vw;
    .title {
      display: initial;
      font-size: small;
    }    
  }
}


