body {
  background-color: #272626;
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .leftbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 15%;
    .card{
      max-width: 100%;
    }
  }
  .middlebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    max-width: 462px;
    min-width: 462px;
    .middletopbox{
      display: flex;
      align-items: flex-end;
      height: 46%;
    }
    .middlemiddlebox{
      display: flex;
      justify-content: space-around;
      margin: 3px 3px;
      height: 8%;
      min-height: 67px;
      border: white solid 2px;
      align-items: center;
      border-radius: 5px;
      text-align: center;
      background-color: #3d3c3c;
      .search {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        font-size: small;
        button {
          border: white solid 1px;
          border-radius: 5px;
          min-width: 130px;
          background-color: white;
        }
        h2 {
          color: white;
        }
        input {
          border: white solid 1px;
          max-width: 130px;
          border-radius: 5px;
        }
        #submit {
          border: #3d3c3c solid 1px;
          margin: 0px 5px;
          min-width: 130px;
          border-radius: 5px;
          font-size: 22px;
          background-color: #3d3c3c;
          color: white;
          font-weight: 500;
        }
      }
    }
    .middlebottombox{
      display: flex;
      align-items: flex-start;
      height: 46%;
    }
  }
  .rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    .card{
      max-width: 100%;
    }
  }
}

.title {
  display: none;
  font-size: 5px;
}  

.card {
  margin: 3px;
  border-color: #272626;
  flex-shrink: 2;
  background-color: #272626;
  &:hover {
    .title {
      display: initial;
      font-size: small;
    }    
  }
  img {
    max-height: 100%;
  }
  .card-title{
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 0 0 5px 5px;
  }
  a {
    text-decoration: none;
    font-size: small;
    font-weight: normal;
  }
}

.span-bracket {
  color: #e4b859;
}
#span-get {
  color: #ddc38c;
}
#span-meme {
  color: #569CD6;
}

//Memepage Component
.memepage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // justify-content: space-around;
  align-items: center;
  button {
    border: white solid 1px;
    border-radius: 5px;
    min-width: 130px;
    background-color: white;
  }
  a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 22px;
  }
  .top-buttons {
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .meme-wrapper {
    display: flex;
    justify-content: space-around;
    max-height: 800px;
    .mainmemecontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 500px;
      width: 40vw;
      margin-right: 50px;
      .card {
        animation: scaling 1s;
        .img {
            min-height: 100%;
        }
        .title {
          display: initial;
          background-color: white;
          border-radius: 0 0 5px 5px;
        }
      }
    }
    .memecontainer {
      height: 80vh;
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin-left: 50px;
      width: 40vw;
      .card {
        width: 30%;
      }
      .memecontainer-top {
        display: flex;
        align-items: flex-end;
        height: 46%;
        .card {
          max-width: 100%;
        }
      }
      .memecontainer-bottom {
        display: flex;
        align-items: flex-start;
        height: 46%;
        .card {
          max-width: 100%;
        }
      }
    }
  }
}

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .spinner {
    max-width: 90px;
  }
  .loading{
    color: white;
    margin-top: 10px;
    font-size: 22px;
  }
}

//Animations

span {
  color: #5362F6;
  text-shadow: textShadow(0.25, 6, #E485F8);
  position: relative;
  animation: scatter 0.5s 4;
  &:hover {
    animation: scatter 0.5s infinite;
  }
}

@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -3px;
  }
  100% {
    top: 0;
  }
}

@keyframes scaling {
  From {
      -webkit-transform: scale(0);
  }
  To {
      -webkit-transform: scale(1);
  }
}
  
  img {
  animation: scaling 1s;
  }
